.App {
  text-align: center;
}

.Carddisplay {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 10px;
  gap: 10px;
}

.Moviecards {
  background-color: #333333;
  color: #fff;
  padding: 3px;
}
